<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TTPD Variant Tracker</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
	<script src="/assets/jquery/dist/jquery.min.js"></script>
	<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
	
</head>

<body>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h2 class="display-4">There are currently <b id="varNum">...</b> variants of The Tortured Poets Department.</h2>
			<div style="margin-top: 30%">
				<h5 class="">Sourced from <a href="https://www.discogs.com/release/30486003-Taylor-Swift-The-Tortured-Poets-Department">Discogs.com</a></h5>
				<h5 class="">Developed by <a href="https://evelynsethernet.tech">Evelyn Drake</a></h5>
			</div>
			
		</div>
	</div>
	<script src="/assets/api.js"></script>
	

</body>

</html>